{% extends 'base.html.twig' %}
{% block title %}Fehlalarm{% endblock %}
{% block nav_title %}Fehlalarm{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1>Ihr Haus steht gar nicht leer?</h1>
                    <p>Leider arbeiten Immobilienbesitzer*innen und -Spekulant*innen, die Wohnraum leerstehen lassen, nicht transparent und so muss zweckentfremdeter oder leerstehender Wohnraum durch Recherche und öffentliche Hinweise erhoben werden. Diese Erhebung ist nicht fehlerfrei und sollten wir Ihre Adresse fälschlicherweise auf dieser Website veröffentlicht haben, so möchten wir uns in alle Form bei Ihnen und die ggf dadurch entstandenen Unannehmlichkeiten entschuldigen. Gerne entfernen wir Ihre Adresse von der Website.</p>
                    <p><b>Wenden Sie sich hierfür einfach an die im Impressum angegebene Adresse</b></p>
                    <p>Leider können wir anonyme Behauptungen nicht berücksichtigen.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}