{% extends 'base.html.twig' %}
{% block title %}Impressum{% endblock %}
{% block nav_title %}Impressum{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}