#body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#app {
    position: absolute;
    top: 56px;
    bottom: 56px;
    left: 0;
    right: 0;
    padding: 24px;
    overflow-y: auto;
}

#map {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}