<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <title>Leerstandsmelder-RT | {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="/assets/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/assets/css/fa.all.min.css">
        <link rel="stylesheet" href="/assets/css/leaflet.css">
        <link rel="stylesheet" href="/assets/css/default.css">
        <script src="/assets/js/jquery-3.5.1.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.js"></script>
        <script src="/assets/js/jquery.dataTables.min.js"></script>
        <script src="/assets/js/dataTables.pageResize.min.js"></script>
        <script src="/assets/js/fa.all.min.js"></script>
        <script src="/assets/js/leaflet.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">{% block nav_title %}{% endblock %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Startseite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/datenschutz">Datenschutz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/impressum">Impressum</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div id="app">
            <div class="modal" id="modal-flyer-only" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 12px; top: 12px;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <img src="/assets/img/200817_Melden-Sie-Leerstand-v1.jpg" style="width: 100%; border-radius: .3rem;">
                        </div>
                    </div>
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
        <nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                <a class="btn btn-secondary ml-auto mr-2" href="/fehlalarm">Ihr Haus steht gar nicht leer?</a>
            </div>
            <a class="btn btn-primary ml-auto" href="#" data-toggle="modal" data-target="#modal-flyer-only">Leerstand melden!</a>
        </nav>
        {% block javascripts %}{% endblock %}
    </body>
</html>
